# **01_print_events.md**

In [5]:
def even():
    print("Here are 20 even numbers:")
    for i in range(40):
        print("Here is 20 even numbers are:",i*2)

if __name__ == "__main__":
    even()

Here are 20 even numbers:
Here is 20 even numbers are: 0
Here is 20 even numbers are: 2
Here is 20 even numbers are: 4
Here is 20 even numbers are: 6
Here is 20 even numbers are: 8
Here is 20 even numbers are: 10
Here is 20 even numbers are: 12
Here is 20 even numbers are: 14
Here is 20 even numbers are: 16
Here is 20 even numbers are: 18
Here is 20 even numbers are: 20
Here is 20 even numbers are: 22
Here is 20 even numbers are: 24
Here is 20 even numbers are: 26
Here is 20 even numbers are: 28
Here is 20 even numbers are: 30
Here is 20 even numbers are: 32
Here is 20 even numbers are: 34
Here is 20 even numbers are: 36
Here is 20 even numbers are: 38
Here is 20 even numbers are: 40
Here is 20 even numbers are: 42
Here is 20 even numbers are: 44
Here is 20 even numbers are: 46
Here is 20 even numbers are: 48
Here is 20 even numbers are: 50
Here is 20 even numbers are: 52
Here is 20 even numbers are: 54
Here is 20 even numbers are: 56
Here is 20 even numbers are: 58
Here is 20 even numbers are: 60
Here is 20 even numbers are: 62
Here is 20 even numbers are: 64
Here is 20 even numbers are: 66
Here is 20 even numbers are: 68
Here is 20 even numbers are: 70
Here is 20 even numbers are: 72
Here is 20 even numbers are: 74
Here is 20 even numbers are: 76
Here is 20 even numbers are: 78

# ***02_international_voting_age.md***

In [8]:
peturksbouipo:int = 16
stanlau:int =25
Mayengua:int =48

def main():
  age:int=int(input("How old are you?"))
  if age>=peturksbouipo:
    print(f"Your age is {age} you are  eligible to vote in peturksbouipo")
  elif age>=stanlau:
    print(f"Your age id {age} you are eligible to vote in stanlau")
  elif age>=Mayengua:
    print(f"Your age is {age} you are eligible to vote in Mayengua")
  else:
    print("You are not eligible to vote")

if __name__ == "__main__":
  main()

How old are you?30
Your age is 30 you are  eligible to vote in peturksbouipo

# ***03_leap_year.md***

In [10]:
def leap_year():
  year:int = int (input("Enter as years:"))
  if year % 4 == 0:
   if year % 100 == 0:
    if year % 400 == 0:
      print(f"{year} is a leap year")
    else:
      print(f"{year} is not a leap year")

  else:
    print(f"{year} is not a leap year")

if __name__ == "__main__":
  leap_year()

Enter as years:23
23 is not a leap year


# ***04_tall_enough_to_ride.md***

In [12]:
min_height:int = 50
def main():
  user:int = int(input("How tall are you?"))
  if user >= min_height:
    print("You are tall enough to ride")
  else:
    print("You are not tall enough to ride")

if __name__ == "__main__":
  main()

How tall are you?45
You are not tall enough to ride

# ***05_random_numbers.md***

In [13]:
def even():
  for i in range(40):
   even = i*2
   print(even)

if __name__ == "__main__":
  even()

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78